{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
      
        <link rel="stylesheet" href="{% static 'css/backend-plugin.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/backend.css' %}">
        <title>{% block title %}
        {% endblock title %}</title>
    </head>

    <body class=" ">
        <div id="loading">
            <div id="loading-center">
            </div>
        </div>
        {% include "pages/navbar.html" %}
        <div class="container-fluid">
        {% block content %}
        {% endblock content %}
        </div>
    </body>
    <script src="{% static 'js/backend-bundle.min.js' %}"></script>
    <!-- Chart Custom JavaScript -->
    <script src="{% static 'js/customizer.js' %}"></script>
    
    <script src="{% static 'js/sidebar.js' %}"></script>
    
    <!-- Flextree Javascript-->
    <script src="{% static 'js/flex-tree.min.js' %}"></script>
    <script src="{% static 'js/tree.js' %}"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="{% static 'js/table-treeview.js' %}"></script>
    
    <!-- SweetAlert JavaScript -->
    <script src="{% static 'js/sweetalert.js' %}"></script>
    
    <!-- Vectoe Map JavaScript -->
    <script src="{% static 'js/vector-map-custom.js' %}"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="{% static 'js/chart-custom.js' %}"></script>
    <script src="{% static 'js/charts/01.js' %}"></script>
    <script src="{% static 'js/charts/02.js' %}"></script>
    
    <!-- slider JavaScript -->
    <script src="{% static 'js/slider.js' %}"></script>
    
    <!-- Emoji picker -->
    <script src="{% static 'vendor/emoji-picker-element/index.js' %}" type="module"></script>
    
    
    <!-- app JavaScript -->
    <script src="{% static 'js/app.js' %}"></script>  
</html>